.popover_block {
  position: relative;
  z-index: 999;
  .popover_block_content {
    background: black;
    border-radius: 4px;
    padding: 8px;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 25px;
    min-width: 100px;
    text-transform: initial;
    text-align: left;
    z-index: 999;
  }
}
