.world_block {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 999;
  color: rgb(231, 231, 231);
  padding: 15px;
  background: rgba(223, 53, 53, 0.6);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.healthIcon_icon {
  color: rgb(70, 163, 110);
  font-size: 18px;
  padding-right: 10px;
}
.skullIcon_icon {
  color: rgb(138, 150, 161);
  font-size: 20px;
  padding-right: 10px;
}
.skullIcon_accountIcon {
  font-size: 20px;
  padding-right: 10px;
}
.world_block_total_item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
