.top_block {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 999;
  color: rgb(231, 231, 231);
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  .top_block_tabs {
    display: flex;
    justify-content: space-between;
  }
  .top_block_tabs_content {
    display: none;
  }
  .skullIcon_icon {
    font-size: 18px;
    color: #fff;
  }

  .recovered_icon {
    font-size: 18px;
    color: #46a36e;
  }
  .deaths_icon {
    font-size: 18px;
    color: #8a96a1;
  }
  .top_block_title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .top_block_tabs_content {
    margin-top: 15px;
    img {
      max-width: 20px;
      margin-right: 3px;
    }
  }
  .top_block_tabs_item {
    cursor: pointer;
  }
}

.tab_active {
  padding-bottom: 2px;
  border-bottom: 2px solid #ff3c3c;
}

.top_block_tabs_content.tab_content_active {
  display: block;
}
